@import './view-transitions.css';

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga'1, 'calt'1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    font-size: 2em;
    background-color: #1c1c1d;
    color: #fff;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 900;
}

.copy {
    font-weight: 500;
    text-align: center;
}

.copy p {
    margin: .7em 0;
}

.box-row {
    display: flex;
    gap: .3em;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    font-size: .6em;
    background-color: #0b0b0b;
    border-radius: 5px;
    width: 5.5em;
    height: 5em;
    transition: color .2s, scale .15s;
    cursor: pointer;
}

.box svg {
    width: 2em;
    height: 2em;
}

.box:hover {
    color: #fff;
}

.box:active {
    scale: .98;
}

#join {
    position: absolute;
    margin-top: 7.25em;
    transition: opacity .2s, translate .2s;
    display: flex;
    gap: .3em;
}

input[type="text"] {
    background-color: #0b0b0b;
    outline: none;
    border: none;
    font-size: 1em;
    font-family: monospace;
    border-radius: 5px;
    color: #fff;
}

#join input {
    width: 6.5em;
    padding: .2em .75em;
}

input::placeholder {
    color: #ccc;
}

.hidden {
    translate: 0 -.1em;
    opacity: 0;
    pointer-events: none;
}

.arrow-btn {
    background-color: #0b0b0b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3em;
    color: #ccc;
    transition: color .2s scale .15s;
    cursor: pointer;
}

.arrow-btn:hover {
    color: #fff;
}

.arrow-btn:active {
    scale: .98;
}

.error-txt {
    font-size: .8em;
    color: #cc0000;
    font-weight: 500;
    position: absolute;
    transition: opacity .2s, translate .2s;
}

#invalid-code {
    margin-top: 12.2em;
}

#cant-join {
    margin-top: 7.6em;
}

button {
    font-size: 1em;
    background-color: #0b0b0b;
    color: #ccc;
    border: none;
    padding: .2em .4em;
    border-radius: 5px;
    cursor: pointer;
    transition: color .2s, scale .15s;
}

button:hover {
    color: #fff;
}

button:active {
    scale: .98;
}

#name-wrap {
    position: absolute;
    margin-top: 3.5em;
    transition: opacity .2s, translate .2s;
    display: flex;
    gap: .3em;
}

#name {
    width: 10em;
    padding: .2em .6em;
}

#link-wrap {
    position: absolute;
    margin-top: 7.25em;
    transition: opacity .2s, translate .2s;
    display: flex;
    gap: .3em;
}

#link {
    width: 10.9em;
    padding: .2em .6em;
}

#progress-wrap {
    position: absolute;
    width: 10.4em;
    background-color: #0b0b0b;
    height: .25em;
    margin-top: 6.25em;
    border-radius: 5px;
    transition: opacity .2s, translate .2s;
}

#progress-inner {
    height: 100%;
    background-color: #ccc;
    border-radius: inherit;
    width: 0;
}

/**************************/

#bar {
    position: absolute;
    margin-left: 13em;
    width: 2px;
    height: 6em;
    background-color: #ccc;
    border-radius: 1em;
}

#side {
    position: absolute;
    margin-left: 25.5em;
}

#room-code-text {
    font-weight: 500;
    margin-bottom: .3em;
    flex-shrink: 0;
}

#room-code {
    background-color: #0b0b0b;
    padding: .1em .3em;
    border-radius: 5px;
    color: transparent;
    transition: color .2s;
    cursor: pointer;
}

#room-code::before {
    content: 'hover';
    position: absolute;
    color: #555;
    margin: .25em 1em;
    border-radius: 5px;
    transition: color .2s;
}

#room-code:hover {
    color: #fff;
}

#room-code:hover::before {
    color: transparent;
}

#devices {
    background-color: #0b0b0b;
    border-radius: 5px;
    padding: .3em .4em;
}

#devices-head {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .6em;
    padding-bottom: .5em;
}

#devices-body {
    display: flex;
    flex-direction: column;
    gap: .15em;
    width: 9em;
}

.device {
    font-size: .8em;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: .3em;
    white-space: nowrap;
}

.device svg {
    flex-shrink: 0;
}

.device-name {
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

#edit-name, #leave-room {
    color: #ccc;
    cursor: pointer;
}